<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hb.demo.zhajinhua.mapper.RoomInfoMapper">
    <resultMap id="Base_Result_Map" type="com.hb.demo.zhajinhua.po.RoomInfoPO">
        <result column="uid" jdbcType="BIGINT"  property="uid"/>
        <result column="rid" jdbcType="BIGINT"   property="rid"/>
        <result column="cid" jdbcType="BIGINT"   property="cid"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        uid, rid, cid, create_time
    </sql>

    <select id="selInfoList" resultMap="Base_Result_Map" parameterType="com.hb.demo.zhajinhua.po.RoomInfoPO">
        select
        <include refid="Base_Column_List"/>
        from room_info
        <where>
            <if test="uid != null and uid!=''">
                and uid = #{uid}
            </if>
            <if test="rid != null and rid!=''">
                and rid = #{rid}
            </if>
            <if test="cid != null and cid!=''">
                and cid = #{cid}
            </if>
        </where>
    </select>

    <insert id="addInfo" parameterType="com.hb.demo.zhajinhua.po.RoomInfoPO" useGeneratedKeys="true" keyProperty="rid">
        insert into room_info(uid, cid, create_time)
                values(#{uid,jdbcType=BIGINT}, #{rid,jdbcType=BIGINT}, now())
    </insert>

</mapper>