<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hb.demo.zhajinhua.mapper.UserInfoMapper">
    <resultMap id="Base_Result_Map" type="com.hb.demo.zhajinhua.po.UserInfoPO">
        <result column="uid" jdbcType="BIGINT" property="uid"/>
        <result column="rnum" jdbcType="BIGINT" property="rNum"/>
        <result column="cid" jdbcType="BIGINT" property="cid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="integral" jdbcType="BIGINT" property="integral"/>
        <result column="master" property="master"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        uid, rnum, cid, name, password, integral, master, create_time
    </sql>

    <select id="selInfoList" resultMap="Base_Result_Map" parameterType="com.hb.demo.zhajinhua.po.UserInfoPO">
        select
        <include refid="Base_Column_List"/>
        from user_info
        <where>
            <if test="uid != null and uid!=''">
                and uid = #{uid}
            </if>
            <if test="rNum != null and rNum!=''">
                and rnum = #{rNum}
            </if>
            <if test="cid != null and cid!=''">
                and cid = #{cid}
            </if>
        </where>
    </select>

    <select id="selUserByNameANdPwd" resultMap="Base_Result_Map" parameterType="com.hb.demo.zhajinhua.po.UserInfoPO">
        select
          count(1)
        from user_info
        where name=#{name,jdbcType=VARCHAR} and password=#{password,jdbcType=VARCHAR}
    </select>

    <insert id="addInfo" parameterType="com.hb.demo.zhajinhua.po.UserInfoPO" useGeneratedKeys="true" keyProperty="uid">
        insert into user_info(cid, rnum, name, password, integral, master, create_time)
                values(#{cid}, #{rNum},
                        #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{integral}, #{master}, now())
    </insert>
</mapper>